<header id="header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home"> Jose Florencio Coelho Neto (Angular Demo)</a>
      </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="nav-item active" routerLinkActive="active">
            <a routerLink="/home">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/tasks">Tasks</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
